<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arduinobot">

    <!-- Gazebo ros2_control plugin -->
    <gazebo>
        <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
            <parameters>$(find arduinobot_controller)/config/arduinobot_controllers.yaml</parameters>
        </plugin>
    </gazebo>

</robot>
