sudo apt-get install ros-humble-joint-state-publisher-gui
sudo apt-get install ros-humble-xacro
sudo apt-get install ros-humble-gz*
sudo apt-get install ros-humble-ros2-control
sudo apt-get install ros-humble-ros2-controllers
sudo apt-get install ros-humble-ign-ros2-control*
sudo apt-get install ros-humble-moveit*
sudo apt-get install libserial-dev
sudo apt-get install python3-pip
pip install pyserial
pip install flask
pip install flask-ask-sdk
pip install ask-sdk
